<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308782549397-5u7t5mpd1gf9v300ars7ohojujku60bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308782549397-5u7t5mpd1gf9v300ars7ohojujku60bs</string>
	<key>API_KEY</key>
	<string>AIzaSyBh7Omxr4VP0CCl_38eyDQH_aVgb5kHf4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>308782549397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.londreeapp</string>
	<key>PROJECT_ID</key>
	<string>londree-75feb</string>
	<key>STORAGE_BUCKET</key>
	<string>londree-75feb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308782549397:ios:4702272704ae9c68c9ce9c</string>
</dict>
</plist>